<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Secrets</title>
    </head>
    <body>

        <h1>Totally secure secrets</h1>

        <ul>
            <li th:each="secret : ${secrets}">
                <div th:text="${secret.owner}" style="margin-right: 20px">
                    Owner
                </div>
                <a th:href="@{/secrets/{id}(id=${secret.id})}" th:text="${secret.title}">Linkki</a>
                <form th:action="@{/secrets/{id}(id=${secret.id})}" th:method="DELETE"><input type="submit" value="Delete"/></form>
            </li>
        </ul>
        
        <form action="#" th:action="@{/secrets}" method="POST">
            <p><input type="text" name="title" value="Title"/></p>
            <p><textarea name="content" rows="10" cols="30"/></p>
            <p><input type="submit" value="Send!"/></p>
        </form>

        <p></p>
    </body>
</html>
